__pycache__/
.ipynb_checkpoints/

autosvc_models/
runs/
nohup_logs/
generated_audio/
notebooks/
alternative_runs/
voice_embs_visuals_metadata/
converted_audio/
models/

checkpoint_step001000000_ema.pth

*.pyc
*.pkl
*.csv
*.zip
*.log